@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'stencilla';
    src: url('stencilla.ttf');
}

body #root #workouts .w-full .container .flex .relative .pointer-events-none svg {
    color: rgb(199, 36, 20);
}