@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'stencilla';
    src: url('stencilla.ttf');
}

/*body #root nav div div div #menu:hover {
    background-color: white;
}*/